@{
    ViewBag.Title = "首页";
}
@section top1{
    <title>Big Picture by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <style>
        .describe {
            font-size: 22px;
            color: #5A5A5A;
            font-weight: 500;
        }

    </style>
}


<!-- Intro -->
<section id="intro" class="main style1 dark fullscreen">
    <div class="content container 75%">
        <header>
            <h2>Jiangxi Normal University.</h2>
        </header>
        <h3><a href="/Panorama/Index">欢迎游览全景师大网站,网站将帮你用第一视角让你体验江西师范大学的美</a> </h3>
        <footer>
            <a href="#one" class="button style2 down">More</a>
        </footer>
    </div>
</section>

<!-- One -->
<section id="one" class="main style2 right dark fullscreen">
    <div class="content box style2">
        <header>
            <h2>我们做了什么</h2>
        </header>
        <p class="describe">
            江西师范大学占地面积3500余亩，有生态校园之称，景色宜人。
            我们将江西师范大学校园景色全景化，在网站端实现虚拟游览校园,
            无论是“草木知春归 师大满芳菲”还是“秋至师大 唯美恬静”的美丽景色，那你都能在全景游览里面领略。
            我们将带给您最真实最直观的全景体验。

        </p>
    </div>
    <a href="#two" class="button style2 down anchored">Next</a>
</section>

<!-- Two -->
<section id="two" class="main style2 left dark fullscreen">
    <div class="content box style2">
        <header>
            <h2>学校简介</h2>
        </header>
        <p class="describe">
            江西师范大学是教育部、江西省人民政府共建高校和中西部高校基础能力建设工程高校。学校融文学、历史学、哲学、经济学、管理学、法学、理学、工学、教育学、艺术学等十大学科门类于一体，位于具有深厚历史文化底蕴、素有“物华天宝、人杰地灵”美誉的江西省省会南昌，对江西的政治、经济、文化和社会发展有较大影响，被江西省人民政府确定为优先发展的省属重点（师范）大学。现有瑶湖、青山湖两个校区，占地面积3500余亩，建筑面积140余万平方米，馆藏纸质文献370余万册，电子图书100余万册。瑶湖校区不设围墙，四周以一条7公里长的瑶河环抱，具有突出的生态人文特色。
        </p>
    </div>
    <a href="#work" class="button style2 down anchored">Next</a>
</section>

<!-- Work -->
<section id="work" class="main style3 primary">
    <div class="content container">
        <header>
            <h2>全景图</h2>
            <p>
                Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
                Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis
                arcu, id varius justo euismod in. Curabitur egestas consectetur magna vitae.
            </p>
        </header>

        <div class="container">
            <!---- services-grids ---->
            <div class="service-grids">
                
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano02"><img src=" ~/img/home/V_02.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----02-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano03"><img src=" ~/img/home/V_04.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----04-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano04"><img src=" ~/img/home/V_05.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----05-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano06"><img src=" ~/img/home/V_06.jpg" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----06-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano07"><img src=" ~/img/home/V_07.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----07-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano08"><img src=" ~/img/home/V_08.jpg" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----08-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano09"><img src=" ~/img/home/V_09.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----09-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano10"><img src=" ~/img/home/V_10.jpg" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----10-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano12"><img src=" ~/img/home/V_12.jpg" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----12-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano13"><img src=" ~/img/home/V_13.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----13-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano14"><img src=" ~/img/home/V_14.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----14-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano15"><img src=" ~/img/home/V_15.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----15-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano16"><img src=" ~/img/home/V_16.jpg" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----16-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano17"><img src=" ~/img/home/V_17.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----17-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano19"><img src=" ~/img/home/V_19.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----19-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano20"><img src=" ~/img/home/V_20.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----20-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano21"><img src=" ~/img/home/V_21.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----21-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano22"><img src=" ~/img/home/V_22.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----22-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano23"><img src=" ~/img/home/V_23.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----23-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano24"><img src=" ~/img/home/V_24.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----24-----*@
                <div class="col-md-4 service-grid">
                    <a href="/Home/Pano07"><img src=" ~/img/home/V_07.png" class="img-responsive" alt=""></a>
                    <h3>Ullamcorper tempus odio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>@*-----07-----*@


                <div class="clearfix"> </div>
            </div>
        </div>
</section>

<!-- Contact -->
<section id="contact" class="main style3 secondary">
    <div class="content container">
        <header>
            <h2>留言.</h2>
            <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p>
        </header>
        <div class="box container 75%">

            <!-- Contact Form -->
            <form method="post" action="#">
                <div class="row 50%">
                    <div class="6u 12u(mobile)"><input type="text" name="name" placeholder="Name" /></div>
                    <div class="6u 12u(mobile)"><input type="email" name="email" placeholder="Email" /></div>
                </div>
                <div class="row 50%">
                    <div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
                </div>
                <div class="row">
                    <div class="12u">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" /></li>
                        </ul>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">

    <!-- Icons -->
    <ul class="actions">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>

 

</footer>

<!-- Scripts -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/assets/js/jquery.poptrox.min.js"></script>
<script src="~/Content/assets/js/jquery.scrolly.min.js"></script>
<script src="~/Content/assets/js/jquery.scrollex.min.js"></script>
<script src="~/Content/assets/js/skel.min.js"></script>
<script src="~/Content/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="~/Content/assets/js/main.js"></script>
<script type="text/javascript">

    var img = '@ViewBag.headImg'
    Is(img);
    function Is(img) {
        if (img != 'None') {
            $("#showLogin").css("display", "none");
            $("#head-img").prop("src", img);
        }
        else {
            $(".dropdown").css("display", "none");
        }
    }
</script>
